@model IEnumerable<Portal.ViewModels.PersonViewModel>
@{
    ViewData["Title"] = "Gestionar personas";
}

<h3 class="mt-4 font-weight-semibold mb-0 ml-3 mr-3">Gestionar personas</h3>
<p class="ml-3 mr-3 mb-4">Esta opción permite gestionar las personas no vinculadas los clientes.</p>
<hr>

<div class="row ml-1 mr-1 mt-3 pt-2 mb-1">
    <div class="col-xl-3 col-md-6">
        <a class="btn btn-primary btn-block" href="login.html">Adicionar persona</a>
    </div>
    <div class="col-xl-3 col-md-6">
    </div>
    <div class="col-xl-3 col-md-6">
    </div>
    <div class="col-xl-3 col-md-6">
    </div>
</div>

<div class="row ml-1 mr-1 pt-3 pb-3">
    <div class="col-xl-12 col-md-12">
        <div class="table-responsive">
            <table class="table" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Tipo de Identificación</th>
                        <th>Nro. de Identificación</th>
                        <th>Nombre Completo</th>
                        <th>Email</th>
                        <th>Interesado en</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var person in Model)
                    {
                    <tr>
                        <td>@person.IdentificationType</td>
                        <td>@person.Identification</td>
                        <td>@person.FirstName @person.LastName</td>
                        <td>@person.Email</td>
                        <td>@person.Interest</td>
                        <td><a href="javascript:;"><div class="sb-nav-link-icon"><i class="fas fa-pen"></i></div></a><a href="javascript:;"><div class="sb-nav-link-icon"><i class="fas fa-times"></i></div></a></td>
                    </tr>

                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

