@model Portal.ViewModels.PersonViewModel
@{
    ViewData["Title"] = "Editar persona";
}

<h3 class="mt-4 font-weight-semibold mb-0 ml-3 mr-3">Editar vinculado</h3>
<p class="ml-3 mr-3 mb-4">Esta opción permite editar personas vinculadas a los clientes existentes.</p>
<hr>

<message user-message="@Model.UserMesage"></message>

<form asp-action="Edit" asp-controller="Customer" method="post">
    <input type="hidden" asp-for="Person.Id" />

    <h6 class="mt-4 text-orange font-weight-semibold ml-3 mr-3">Información del Cliente</h6>

    <div class="row ml-1 mr-1 mt-4">

        <div class="col-xl-3 col-md-6">
            <div class="form-group">
                <label class="small mb-1">Tipo de Cliente</label>
                @if (Model.ExternalSystems == null)
                {
                    <select asp-for="Person.ExternalSystemId" class="form-control" disabled="disabled">
                        <option value="0">- Seleccione -</option>
                    </select>
                }
                else
                {
                    <select asp-for="Person.ExternalSystemId" asp-items="@(new SelectList(Model.ExternalSystems, "Id", "Name"))" class="form-control" disabled="disabled">
                        <option value="0">- Seleccione -</option>
                    </select>
                }
                <input asp-for="Person.ExternalSystemId" class="form-control" type="hidden">
                <input asp-for="Person.Code" class="form-control" type="hidden">
                <input asp-for="Person.CustomerId" class="form-control" type="hidden">
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="form-group">
                <label class="small mb-1">Código Cuenta / NIC</label>
                <input asp-for="Person.Code" class="form-control" type="text" disabled="disabled">

            </div>
        </div>
        <div class="col-xl-3 col-md-6">
        </div>
        <div class="col-xl-3 col-md-6">
        </div>
    </div>

    <hr class="mt-0">
    <h6 class="mt-4 text-orange font-weight-semibold ml-3 mr-3">Información del Vinculado</h6>

    <div class="row ml-1 mr-1 mt-4 pt-2">
        <div class="col-xl-3 col-md-6">
            <div class="form-group">
                <label class="small mb-1">Tipo de Identificación *</label>
                @if (Model.IdentificationTypes == null)
                {
                    <select asp-for="Person.IdentificationTypeId" class="form-control">
                        <option value="0">- Seleccione -</option>
                    </select>
                }
                else
                {
                    <select asp-for="Person.IdentificationTypeId" asp-items="@(new SelectList(Model.IdentificationTypes, "Id", "Name"))" class="form-control">
                        <option value="0">- Seleccione -</option>
                    </select>
                }
                <span asp-validation-for="Person.IdentificationTypeId" class="label label-danger"></span>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="form-group">
                <label class="small mb-1">Nro. de Identificación *</label>
                <input asp-for="Person.Identification" class="form-control" type="text">
                <span asp-validation-for="Person.Identification" class="label label-danger"></span>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="form-group">
                <label class="small mb-1">Nombres *</label>
                <input asp-for="Person.FirstName" class="form-control" type="text">
                <span asp-validation-for="Person.FirstName" class="label label-danger"></span>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="form-group">
                <label class="small mb-1">Apellidos *</label>
                <input asp-for="Person.LastName" class="form-control" type="text">
                <span asp-validation-for="Person.LastName" class="label label-danger"></span>
            </div>
        </div>
    </div>

    <div class="row ml-1 mr-1 mt-1">
        <div class="col-xl-3 col-md-6">
            <div class="form-group">
                <label class="small mb-1">Teléfono</label>
                <input asp-for="Person.PhoneNumber" class="form-control" type="text">
                <span asp-validation-for="Person.PhoneNumber" class="label label-danger"></span>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="form-group">
                <label class="small mb-1">Móvil *</label>
                <input asp-for="Person.MobileNumber" class="form-control" type="text">
                <span asp-validation-for="Person.MobileNumber" class="label label-danger"></span>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="form-group">
                <label class="small mb-1">Relación *</label>
                @if (Model.Relationships == null)
                {
                    <select asp-for="Person.RelationshipId" class="form-control">
                        <option value="0">- Seleccione -</option>
                    </select>
                }
                else
                {
                    <select asp-for="Person.RelationshipId" asp-items="@(new SelectList(Model.Relationships, "Id", "Name"))" class="form-control">
                        <option value="0">- Seleccione -</option>
                    </select>
                }
                <span asp-validation-for="Person.RelationshipId" class="label label-danger"></span>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="form-group">
                <label class="small mb-1">Correo Electrónico *</label>
                <input asp-for="Person.Email" class="form-control" type="email">
                <span asp-validation-for="Person.Email" class="label label-danger"></span>
            </div>
        </div>
    </div>

    <div class="row ml-1 mr-1 mt-1 mb-5 ">
        <div class="col-xl-3 col-md-6">
            <div class="form-group">
                <label class="small mb-1">Fecha de Nacimimento *</label>
                <input asp-for="Person.Birthdate" class="form-control" type="date" asp-format="{0:yyyy-MM-dd}">
                <span asp-validation-for="Person.Birthdate" class="label label-danger"></span>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="form-group">
                <label class="small mb-1">Interesado en</label>
                @if (Model.Interests == null)
                {
                    <select asp-for="Person.InterestId" class="form-control">
                        <option value="0">- Seleccione -</option>
                    </select>
                }
                else
                {
                    <select asp-for="Person.InterestId" asp-items="@(new SelectList(Model.Interests, "Id", "Name"))" class="form-control">
                        <option value="0">- Seleccione -</option>
                    </select>
                }
                <span asp-validation-for="Person.InterestId" class="label label-danger"></span>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="form-group policy">
                <input asp-for="Person.PolicyData" class="form-checkbox" type="checkbox"> <span>Acepto política de datos</span>
                <span asp-validation-for="Person.PolicyData" class="label label-danger"></span>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <input type="submit" class="btn btn-secondary btn-block" value="Actualizar">
        </div>
    </div>
</form>


